
.text {
    font-size: 15px;
    color:var(--offwhite);
    margin-bottom: .9em;
    font-family: var(--font);
}


/* ESTA PARTE NAO FUNCIONOU  */
/* .text::before,
.text::after {
    position: absolute;
    display: inline-block;
    top: 0.7em;
    left: 1em;
    content: " ";
    width: 2em;
    height: 0.05em;
    background-color: var(--white);
}

.text::after {
    left: initial;
    right: 1em;
} */
