
.container {
    /* display: flex; */
    /* flex-direction: row-reverse; */
    background-color: var(--dark-gray);
    width: 100%;
    height: 100vh;
}

.containerLogin {
    display: flex;
    align-items: center;
    background-color: var(--dark-gray);
    padding: 0em 5em 3.5em 5em;
    border-radius: 32px;
    gap: 3em;
}

.toggleButton {
    display: flex;
    justify-content: end;
    max-width: 1220px;
    
}

.containerLogin form {
    margin: 0 14.5px;
    font-size: 18px;
    font-weight: 400;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin-top: .5em;
    border: none;
}

.opcoes a {
    color: var(--offwhite);
    font-family: var(--font);
    text-align: right;
    font-size: 15px;
}

.links {
    text-align: center;
}

.links ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.5em;
    margin: .5em 0 1.5em 0;
}

.links ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.links ul li a {
    text-decoration: none;
    color: var(--offwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
}

.links ul li img {
    margin-bottom: 0.5rem;
}

.linkTexto {
    font-size: 15px;
    /* color: var(--offwhite); */
    margin-bottom: .9em;
    color: red;
}

@media(max-width:768px) {

    .containerLogin {
       flex-direction: column;
    }

    .img {
        display: none;
    }

    .containerLogin {
        padding: 3.5em 5em 3.5em 5em;
        
    }

    





}
